=render partial: 'top/header'

%nav{:role => "navigation"}
  %a{:href => "#"}
    %span.ripple menber
  %a{:href => "/tatsuki"}
    %span.ripple tatsuki
  %a{:href => "/kazuki"}
    %span.ripple kazuki
  %a.is-active{:href => "#"}
    %span.ripple kanta
  %a{:href => "/suzuki"}
    %span.ripple suzuki D
  %a{:href => "/daaya"}
    %span.ripple daaya
  %a{:href => "/tatsuki"}
    %span.ripple ariel
  %a{:href => "/tatsuki"}
    %span.ripple yuu



-# \-# %a.download{:href =&gt; "#platforms"}
-# \-# #platforms.platforms
-# \-#   %a{"data-os" =&gt; "tatsuki", :href =&gt; "#windows"}
-# \-#   %a{"data-os" =&gt; "yuu", :href =&gt; "#mac"}
-# \-#   %a{"data-os" =&gt; "kanta", :href =&gt; "#linux"}
-# \-# #windows.installer
-# \-#   .info{"data-weight" =&gt; "753 KB"}
-# \-#   .details
-# \-#     %p Windows installer
-# \-#     %span Version 1.0.6
-# \-#     %ul
-# \-#       %li List item number one
-# \-#       %li List item number two
-# \-#       %li List item number three
-# \-#       %li List item number four
-# \-#   %label{:for =&gt; "progressWindows"}
-# \-#     %input#progressWindows{:type =&gt; "radio"}/
-# \-#     %span
-# \-#   %a.close{:href =&gt; "#"}
-# \-# #mac.installer
-# \-#   .info{"data-weight" =&gt; "634 KB"}
-# \-#   .details
-# \-#     %p Mac installer
-# \-#     %span Version 1.0.6
-# \-#     %ul
-# \-#       %li List item number one
-# \-#       %li List item number two
-# \-#       %li List item number three
-# \-#       %li List item number four
-# \-#   %label{:for =&gt; "progressMac"}
-# \-#     %input#progressMac{:type =&gt; "radio"}/
-# \-#     %span
-# \-#   %a.close{:href =&gt; "#"}
-# \-# #linux.installer
-# \-#   .info{"data-weight" =&gt; "781 KB"}
-# \-#   .details
-# \-#     %p Linux installer
-# \-#     %span Version 1.0.6
-# \-#     %ul
-# \-#       %li List item number one
-# \-#       %li List item number two
-# \-#       %li List item number three
-# \-#       %li List item number four
-# \-#   %label{:for =&gt; "progressLinux"}
-# \-#     %input#progressLinux{:type =&gt; "radio"}/
-# \-#     %span
-# \-#   %a.close{:href =&gt; "#"}








-# \-# \-# 元のやつ
-# \-# \-# .wrapper
-# \-# \-#   = render partial: 'top/header'
-# \-# \-#   %ul.slider
-# \-# \-#     %li.slider-item.slider-item01
-# \-# \-#       .header__member
-# \-# \-#         %ul.members
-# \-# \-#           MEMBERS
-# \-# \-#           %li.name
-# \-# \-#             =link_to  '/tatsuki', class: "namebtn" do
-# \-# \-#               TATSUKI
-# \-# \-#           %li.name
-# \-# \-#             =link_to '#', class: "namebtn" do
-# \-# \-#               KAZUKI
-# \-# \-#           %li.name
-# \-# \-#             =link_to '#', class: "namebtn" do
-# \-# \-#               KANTA
-# \-# \-#           %li.name
-# \-# \-#             =link_to '#', class: "namebtn" do
-# \-# \-#               SUZUKI D
-# \-# \-#           %li.name
-# \-# \-#             =link_to '#', class: "namebtn" do
-# \-# \-#               DAAYA
-# \-# \-#           %li.name
-# \-# \-#             =link_to '#', class: "namebtn" do
-# \-# \-#               ARIELE
-# \-# \-#           %li.name
-# \-# \-#             =link_to '#', class: "namebtn" do
-# \-# \-#               YUU
-# \-# \-#     %li.slider-item.slider-item02
-# \-# \-#       .header__member
-# \-# \-#         %ul.contents
-# \-# \-#           %li.content
-# \-# \-#             TATSUKI
-# \-# \-#           %h3.detail
-# \-# \-#             5歳からダンスを始め、ダンスに没頭する日々を送る。
-# \-# \-#             中学生の頃は”BeatSoldier”に所属し、バトルを中心に活躍。
-# \-# \-#             その後U-KI the retro,Takuyaと共に”BixBite”を結成し、各地でのゲストショーや国内外のWSを行いながら活動している。
-# \-# \-#             %br/
-# \-# \-#             最近では世界最大級の2on2バトルイベント『JusteDebout』の日本予選を優勝し、本戦の世界大会への出場や、国内最大級の1on1バトルイベント『Dance@Live』の前日予選を優勝し、本線に出場など輝かしい成績を残す。
-# \-# \-#             %br/
-# \-# \-#             また、メディアやメジャーの活動も多く、ラッパーSALUのバックダンサーやMV出演、中京テレビ『スーパーチャンプル』出演、NHK『みんなのうた』出演などアングラ以外の幅広い活動もしている。

-# \-# \-#     %li.slider-item.slider-item03
-# \-# \-#     %li.slider-item.slider-item04
-# \-# \-#     %li.slider-item.slider-item05
-# \-# \-#     %li.slider-item.slider-item06
-# \-# \-#     %li.slider-item.slider-item07
-# \-# \-#     %li.slider-item.slider-item08
